<p class="subtitle">Confirm your email address change</p>

<%= link_to "Yes use use this email address", email_address_confirmation_url(user_id: @user.id, email_address_token: @token), class: "btn" %>

<p class="margin-block-start-double">If you didn’t request this change, you can ignore this email. Your email address WILL NOT be changed unless you hit the button.</p>

<p class="footer">Need help? <%= mail_to "support@fizzy.do", "Send us an email"%>.
</p>
