<div class="margin-block-end">
  <strong class="divider txt-large">Do or Die</strong>
  <%= render "entropy/auto_close", model: collection, url: collection_entropy_configuration_path(collection) %>
</div>
